RewriteEngine On

## http -> https
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L,NE,QSA]

Header set Content-Language "fr-FR"

errordocument 400 /php/error.php
errordocument 401 /php/error.php
errordocument 403 /php/error.php
errordocument 404 /php/error.php
errordocument 500 /php/error.php
errordocument 504 /php/error.php