body {
    overflow-x: hidden;
    font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    webkit-tap-highlight-color: #fed136;
    height: 100%;
}
.navbar-default {
    border-color: transparent;
    background-color: #222;
}
.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,.02);
}
.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #fed136;
}
.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
}
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #fed136;
}
.yellow {
    background-color: #fed136;
}
.navbar-default .nav .yellow a:hover,
.navbar-default .nav .yellow a:focus {
    outline: 0;
    color: #000;
}
::selection {
    text-shadow: none;
    background: #fed136;
}
@media(min-width:768px) {
    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }
    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }

    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: #222;
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }

    section {
        padding: 150px 0;
    }

    #infos .infos-item {
        margin: 0 0 30px;
    }
}
.text-muted {
    color: #777;
}
p {
    font-size: 14px;
    line-height: 1.75;
}
p.large {
    font-size: 16px;
}
a {
    color: #fed136;
}
a,
a:hover,
a:focus,
a:active {
    outline: 0;
}
a {
    color: #fed136;
}
a:hover,
a:focus,
a:active {
    color: #fec503;
}
h1,
h2,
h3,
h4 {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}
.img-centered {
    margin: 0 auto;
}
.bg-light-gray {
    background-color: #f7f7f7;
}
.btn-primary {
    border-color: #fed136;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #fff;
    background-color: #fed136;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    border-color: #f6bf01;
    color: #fff;
    background-color: #fec503;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}
.btn-xl {
    padding: 20px 40px;
    border-color: #fed136;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #fed136;
}
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active {
    border-color: #f6bf01;
    color: #fff;
    background-color: #fec503;
}
.btn-xl:active {
    background-image: none;
}
header {
    text-align: center;
    color: #fff;
    background: scroll center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
section {
    padding: 100px 0;
}
section h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
}
section h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}
#circuit .img-circle {
    width: 100%;
    border-radius: 50%;
}
#infos .infos-item {
    right: 0;
    margin: 0 0 15px;
}
#infos .infos-item .infos-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}
#infos .infos-item .infos-link .infos-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(254,209,54,.9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}
#infos .infos-item .infos-link .infos-hover:hover {
    opacity: 1;
}
#infos .infos-item .infos-link .infos-hover .infos-hover-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}
#infos .infos-item .infos-link .infos-hover .infos-hover-content i {
    margin-top: -12px;
}
#infos .infos-item .infos-caption {
    margin: 0 auto;
    padding: 25px;
    max-width: 400px;
    text-align: center;
    background-color: #fff;
}
#infos .infos-item .infos-caption h4 {
    margin: 0;
    text-transform: none;
}
#infos .infos-item .infos-caption p {
    margin: 0;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
}
#infos * {
    z-index: 2;
}
section#contact {
    background: #222 url(../img/map-image.png) no-repeat center;
}
section#contact .section-heading {
    color: #fff;
}
section#contact .form-group {
    margin-bottom: 25px;
}
section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px;
}
section#contact .form-group input.form-control {
    height: auto;
}
section#contact .form-group textarea.form-control {
    height: 236px;
}
section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none;
}
section#contact::-webkit-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}
section#contact:-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}
section#contact::-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}
section#contact:-ms-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}
section#contact .text-danger {
    color: #e74c3c;
}
.btn:focus,
.btn:active,
.btn:active:focus {
    outline: 0;
}
.modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em;
}
.modal-content p {
    margin-bottom: 30px;
}
.modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
}
.modal-content img {
    margin-bottom: 30px;
}
.close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}
.close-modal:hover {
    opacity: .3;
}
.close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #222;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #222;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
::-moz-selection {
    text-shadow: none;
    background: #fed136;
}
::selection {
    text-shadow: none;
    background: #fed136;
}
img::selection {
    background: 0 0;
}
img::-moz-selection {
    background: 0 0;
}
nav ul.navbar-nav {
    background-color: rgba(0,0,0,0.5);
}
.table .column {
    border-right: 1px solid #ddd;
}
.service-heading {
    margin: 15px 0;
    text-transform: none;
}
footer {
    padding: 25px 0;
    margin: 50px 0;
    text-align: center;
}
footer .copyright {
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
    list-style: none;
}



/***************************************************
/** CAROUSEL
***************************************************/
#myCarousel .carousel .item .active {
    height: 100%;
}
#myCarousel .carousel-inner {
    height: 100%;
}
#myCarousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/***************************************************
** SOCIAL IMG INTO FOOTER
 **************************************************/
.social {
    position: relative;
    height: 3em;
    width: 13.5em;
    margin: auto;
}
.social li {
    display: block;
    height: 4em;
    line-height: 4em;
    margin: -2.2em;
    position: absolute;
    -webkit-transition: -webkit-transform .7s;
    -moz-transition: -moz-transform .7s;
    -ms-transition: -ms-transform .7s;
    -o-transition: -o-transform .7s;
    transition: transform .7s;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    text-align: center;
    width: 4em;

}
.social a {
    color: #fffdf0;
    display: block;
    height: 4em;
    line-height: 6em;
    text-align: center;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 4em;

}
.social li:hover {
    -webkit-transform: scale(1.3,1.3) rotate(45deg);
    -moz-transform: scale(1.3,1.3) rotate(45deg);
    -ms-transform: scale(1.3,1.3) rotate(45deg);
    -o-transform: scale(1.3,1.3) rotate(45deg);
    transform: scale(1.3,1.3) rotate(45deg);
}
.facebook {
    background: #155b9d;
    left: 0;
    top: 0;
}
.instagram {
    background: #F14648;
    bottom: 0;
    left: 25%;
}
.linkedin {
    background: #3f7aa3;
    top: 0;
    left: 50%;
}
/**
Button to scroll to the top of the page
 */
.tap-top{
    color:#fed136;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 150px;
    right: 30px;
    z-index: 99;
    text-align: center;
    border-radius: 100%;
    font-size: 22px;
    cursor: pointer;
    line-height: 2.2;
    display: none;
    border: 2px solid #fed136;
}
@media (max-width: 480px) and (max-width: 400px) {
    .tap-top {
        width: 40px;
        height: 40px;
        line-height: 1.7;
    }
}

.mentionsLegales p {
    text-align: justify;
}
